<div class="container">
  <div class="sidebar">
    <div class="profile">
      <img
        class="im"
        src="https://www.seekpng.com/png/detail/110-1100707_person
        -avatar-placeholder.png"
        width="70px"
        alt="Profile Picture"
      />
      <h4>
        <span>{{ user_name }}</span>
      </h4>
    </div>

    <div class="logout">
      <a (click)="logout()" class="logout" style="cursor: pointer"> Logout</a>
    </div>
  </div>
  <div class="content">
    <div class="search-container">
      <input
        [(ngModel)]="searchTerms"
        type="text"
        class="search-input"
        placeholder="Search..."
      />
      <span class="search-icon"><i class="fas fa-search"></i></span>
    </div>
    <div class="card">
      <h2>Add Product</h2>
      <form [formGroup]="addProductForm" (ngSubmit)="onAddProductSubmit()">
        <input
          formControlName="title"
          type="text"
          name="title"
          placeholder="Product title"
          required
        />
        <textarea
          name="description"
          placeholder="description"
          required
          formControlName="description"
        ></textarea>
        <input
          type="number"
          name="price"
          placeholder="Product Price"
          required
          formControlName="price"
        />
        <input
          type="number"
          name="stock"
          placeholder="stock available"
          required
          formControlName="stock"
        />
        <input
          type="text"
          name="image"
          placeholder="image url"
          required
          formControlName="image"
        />

        <button type="submit">Add product</button>
      </form>

      <div class="product-row">
        <div
          class="product"
          *ngFor="let product of products | searchFilter : searchTerms"
        >
          <img src="{{ product.image }}" alt="Product 1" />
          <div class="details">
            <h3>{{ product.title }}</h3>
            <p>Price: {{ product.price | currency }}</p>
            <p>Stock:{{ product.stock }}</p>
          </div>
          <div class="actions">
            <a
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              style="cursor: pointer"
              class="edit"
              (click)="editProduct(product.product_id)"
              >Edit</a
            >
            <a
              (click)="deleteProduct(product.product_id, product.title)"
              style="cursor: pointer"
              class="delete"
              >Delete</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- edit product Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Edit this Product
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editProductForm" (ngSubmit)="onEditProductSubmit()">
          <input
            formControlName="title"
            type="text"
            name="title"
            placeholder="Product title"
            required
          />
          <textarea
            name="description"
            placeholder="description"
            required
            formControlName="description"
          ></textarea>
          <input
            type="number"
            name="price"
            placeholder="Product Price"
            required
            formControlName="price"
          />
          <input
            type="number"
            name="stock"
            placeholder="stock available"
            required
            formControlName="stock"
          />
          <input
            type="text"
            name="image"
            placeholder="image url"
            required
            formControlName="image"
          />

          <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">
            edit product
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
