<body>
  <header class="navbar navbar-expand-md navbar-light shadow">
    <div class="container-lg">
      <button
        type="button"
        class="navbar-toggler rounded-pill bg-primary me-auto"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebar-menu"
      >
        <span><i class="bi bi-list"></i></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav justify-content-center me-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a routerLink="/#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="navbar-brand">
        <a routerLink="/" class="logo h2 text-decoration-none text-primary"
          >Online <span class="fw-bold fs-2 text-light">Shop</span>
        </a>
      </div>

      <div class="position-relative">
        <a

          class="btn btn-outline-primary me-3"
          routerLink="/login"
          >Login</a
        ><a

          class="btn btn-outline-primary"
          routerLink="/register"
          >Register</a
        >
      </div>
    </div>
  </header>
  <!-- end header -->
  <!-- start sidebar menu -->
  <div
    class="offcanvas offcanvas-start mw-75"
    tabindex="-1"
    id="sidebar-menu"
    aria-labelledby="offcanvasLabel"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/">Home</a>
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/about"
            >About</a
          >
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/products"
            >Products</a
          >
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/#contact"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!--end sidebar menu -->


  <!-- start landing -->
  <section
    id="landing"
    class="d-flex justify-content-center align-items-center"
  >
    <div
      class="landing-overlay d-flex justify-content-center align-items-center"
    >
      <div class="container-md me-auto">
        <h1 class="text-light">Rest, Relax, Unwind</h1>
        <p class="text-light">Embrace your choices - we do</p>
        <a routerLink="/products" class="btn btn-outline-primary btn-lg"
          >Show now</a
        >
      </div>
    </div>
  </section>
  <!-- end landing -->
  <!-- start features -->
  <section class="features py-5" id="features">
    <div class="container">
      <div class="text text-center h2 fw-bold">
        <span class="text-primary me-1">/</span>Features
      </div>
      <div
        class="content position-relative d-flex justify-content-center align-items-center"
      >
        <div
         *ngIf="isLoading"
          class="features-loader position-absolute top-50 left-50 d-flex justify-content-center align-items-center"
        >
          <h1 class="h1 text-primary">
            Loading
            <span class="mx-3 text-center load"
              ><i class="bi bi-arrow-repeat"></i
            ></span>
          </h1>
        </div>
        <div *ngIf="!isLoading"
          class="row justify-content-center align-items-center gy-4 features-content"

        >
          <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let product of products.slice(0, 4)">
              <div class="card shadow features-card">
                <div class="card-body">
                  <div class="card-img-top">
                    <img
                      class="card-img-top"
                      src={{product.image}}
                      alt="product iamges"
                    />
                  </div>
                  <div
                    class="card-title text-center h3 fw-normal text-muted mt-1"
                  >
                   {{product.title}}
                  </div>
                  <div class="card-text text-center">
                    <span class="h4 text-center">{{product.price | currency}}</span>
                  </div>
                </div>

              </div>
            </div>
        </div>
      </div>
      <a
        routerLink="/products"
        class="btn d-block btn-primary btn-lg mx-auto w-auto mt-5"
        >All Products</a
      >
    </div>
  </section>
  <!-- end features -->

</body>
