<body>
  <header class="navbar navbar-expand-md navbar-light shadow-sm">
    <div class="container-lg">
      <button
        type="button"
        class="navbar-toggler rounded-pill bg-primary me-auto"
        data-bs-toggle="offcanvas"
        data-bs-target="#sidebar-menu"
      >
        <span><i class="bi bi-list"></i></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav justify-content-center me-auto">
          <li class="nav-item">
            <a routerLink="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a routerLink="/about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a routerLink="/products" class="nav-link">Products</a>
          </li>
          <li class="nav-item">
            <a routerLink="/#contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="navbar-brand">
        <a routerLink="/" class="logo h2 text-decoration-none text-primary"
          >Online <span class="fw-bold fs-2 text-light">Shop</span>
        </a>
      </div>

      <div
        class="cart-icon position-relative"
        data-bs-toggle="offcanvas"
        data-bs-target="#cart"
        aria-controls="offcanvasRight"
      >
        <i class="bi bi-cart fs-5"></i>
        <span
          class="rounded-circle bg-primary position-absolute count-icon top-0 end-0 d-flex justify-content-center align-items-center text-light"
          >0</span
        >
        <div class="logout position-relative">
          <a class="nav-link mx-3 btn btn-danger" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </header>
  <!-- end header -->
  <!-- start sidebar menu -->
  <div
    class="offcanvas offcanvas-start mw-75"
    tabindex="-1"
    id="sidebar-menu"
    aria-labelledby="offcanvasLabel"
  >
    <div class="offcanvas-header">
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <ul class="list-group">
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/">Home</a>
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/about"
            >About</a
          >
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/products"
            >Products</a
          >
        </li>
        <li class="list-group-item border-0">
          <a class="text-dark text-decoration-none fs-5" routerLink="/#contact"
            >Contact</a
          >
        </li>
        <li class="list-group-item border-0">
          <button
            type="button"
            class="text-dark text-decoration-none fs-5 btn btn-danger"
            (click)="logout()"
          >
            Log Out
          </button>
        </li>
      </ul>
    </div>
  </div>
  <!--end sidebar menu -->

  <!-- start hero  -->
  <section class="hero py-5 fs-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </section>
  <!-- end hero -->
  <!-- start history -->
  <div class="history py-5">
    <div class="container">
      <div class="contact-text text-center h2 fw-bold mb-3">
        <span class="text-primary me-1">/</span>Our History
      </div>
      <p class="text-muted lead px-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate
        dolores tenetur consectetur alias debitis eligendi error inventore
        laborum aut ratione maxime facere veritatis consequuntur expedita magni
        facilis dicta laboriosam repellendus fugit, ex architecto quidem velit
        iure? Soluta odit, nesciunt, corrupti inventore voluptas rem iure
        dolorum neque cum laborum voluptate alias.
      </p>
    </div>
  </div>
  <!-- end history -->
</body>
